<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteBase /movie_api/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule (.*) /movie_api/index.php?$1 [QSA,L]
</IfModule>