body {
  background: rgba(0, 102, 255, 0.38);
  font-family: sans-serif;
}

.block {
  background: #FFF;
  border: 1px solid rgba(0, 89, 181, 0.82);
  width: 25%;
  margin: 0 0 5px;
  box-shadow: 2px 2px 5px -1px rgb(0, 81, 202);
  padding: 3px 5px;
}

.movie-input {
  width: 65%;
}

.add-button {
  width: 33%;
}